.project__section {
    margin-bottom: 60px;
}

.project__item {
    list-style: none;
    margin-bottom: 40px;
    padding-left: 0;
}

.project__text {
    margin: 10px;
}

.project__link {
    padding-left: 10px;
}